.section-content {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.add-playlist-btn {
    float: right;
    margin-top: 5px;
    border-radius: 12px;
    background-color: hsl(203, 92%, 75%, 0.5);
    color: white;
    border: none;
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}